.stausFilter{
    border: 1px solid #BFD1E1;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

.statusButtons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* styling for active button  */
.active{ 
    font-weight: bold;
    background-color: #CEE2F2;
}

.filterOptions{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 25px;
}

.singleFilter{
    border: 1px solid;
    border-radius: 5px;
    padding: 1px;

    & input{
        border: none;
    }
}