.single-cart-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    margin: 10px 0;
    padding: 10px 0;
}

.product-details {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    & img {
        max-width: 60px;
        object-fit: contain;
    }

    & div {
        display: flex;
        flex-direction: column;

        & h3 {
            font-size: 1rem;
        }
    }
}

.quantity, .item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.245);
        width: 60%;
    }

    & p {
        margin: 0;
    }
}

.price{
    font-weight: bold;
}


.big-hide{
    display: none;
}

@media screen and (max-width:550px) {
    .single-cart-product{
        grid-template-columns: 1fr;
    }

    .product-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: 10px;

        & img{
            max-width: 70%;
            display: block;
            margin: auto;
        }
    }

    .item-center{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .big-hide{
        display: block;
    }
}