.singleCheckout{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #259EF6;
}

.product-details {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    & img {
        max-width: 60px;
        object-fit: contain;
    }

    & div {
        display: flex;
        flex-direction: column;

        & h3 {
            font-size: 1rem;
        }
    }
}

.unit{
    color: orange;
}

.price{
    font-weight: bold;
}