#left-slider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.532);

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    justify-content: flex-end;

    transition: opacity .2s;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

#hide-show-toggle {
    width: 25vw;
    min-height: 100vh;
    height: fit-content;
    border-top-left-radius: 1rem;
    background-color: whitesmoke;

    transition: transform .5s;

    &.hidden {
        position: relative;
        transform: translateX(100%);
    }
}

.toggle-title {
    padding: .8rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    position: sticky;
    top: 0;
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(195, 197, 201);
    border-top-left-radius: 1rem;


    & h2 {
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
        text-align: center;

    }

    & button {
        background-color: transparent;
    }
}

.toggle-info {
    padding: 1rem;
    padding-left: 1.5rem;
    font-family: sans-serif;

    & .titleImg {
        max-width: 250px;
        margin: auto;
        display: block;
        margin-bottom: 2rem;
    }

    & h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    & h2 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    & h3 {
        font-size: .85rem;
        margin-bottom: .7rem;
        margin-top: 1.5rem;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    & h4{
        font-size: .85rem;
        padding: 1rem 0;
        color: rgb(107, 106, 106);
        border-bottom: .5px dotted rgb(107, 106, 106);

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    & p {
        font-size: .75rem;
        font-weight: 200;
        margin-bottom: 1rem;
        color: rgb(107, 106, 106);
    }

    & hr{
        margin: 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    #hide-show-toggle {
        width: 100%;
    }
    
}